# file created at {{ now() }}

class {{presenter.cl.name}}({{presenter.parentNamesWithCommas}}):
    {{presenter.get_class_description(presenter.cl)}}

    def __init__({{presenter.initVariableNamesWithCommas}}):
      {% if presenter.exists_constructor_params() %}
        {{presenter.get_constructor_params()}}
      {% endif %}
      {% if ((presenter.variables() | length) == 0) %}
        pass
      {% endif %}
      {% for variable in presenter.variables() %}
        self.{{variable.name}} = {{variable.name}}
      {% endfor %}

  {% for function in presenter.functions() -%}
    {% if function.static == True %}
    {{ presenter.get_static_decoration(function) }}
    {% endif %}
    def {{function.name}}({{presenter.get_args(function)}}):
      {% if presenter.exists_function_description(function) %}
        {{-presenter.get_function_description(function)}}
      {% endif %}
      {% if presenter.exists_reimplementers(function) %}
        {{-presenter.get_reimplementers(function)}}
      {% endif %}
      {% if presenter.exists_original_implementation(function) %}
        {{-presenter.get_original_implementation(function)}}
      {% endif %}
        # TODO: implement
        pass

   {#newline#}
  {% endfor %}
